@use '../base/mixins';

.text-align-center {
	text-align: center;
}

.text-align-center-sm {
	@include mixins.max-mq(medium) {
		text-align: center;
	}
}

.text-align-center-md {
	@include mixins.max-mq(large) {
		text-align: center;
	}
}
