@use '../base/mixins';

.image-container {
	// width: 50vw;

	&__image {
		@include mixins.max-mq(large) {
			margin-inline: auto;
			margin-bottom: var(--spacing-em-700);
		}

		@include mixins.mq(large) {
			&--right {
				transform: scale(1.5) translateX(25%);
			}

			&--left {
				transform: scale(1.5) translateX(-25%);
			}
		}
	}
}
